<mat-grid-list cols="4" rowHeight="1:1">
  <mat-grid-tile>
    <button mat-fab color="primary" (click)="addButtonValue('7')" [disabled]="disabled">7</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="primary" (click)="addButtonValue('8')" [disabled]="disabled">8</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="primary" (click)="addButtonValue('9')" [disabled]="disabled">9</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="accent" (click)="addButtonValue('*')" [disabled]="disabled">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="primary" (click)="addButtonValue('4')" [disabled]="disabled">4</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="primary" (click)="addButtonValue('5')" [disabled]="disabled">5</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="primary" (click)="addButtonValue('6')" [disabled]="disabled">6</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="accent" (click)="addButtonValue('/')" [disabled]="disabled">
      <fa-icon [icon]="faDivide"></fa-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="primary" (click)="addButtonValue('1')" [disabled]="disabled">1</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="primary" (click)="addButtonValue('2')" [disabled]="disabled">2</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="primary" (click)="addButtonValue('3')" [disabled]="disabled">3</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="accent" (click)="addButtonValue('-')" [disabled]="disabled">
      <fa-icon [icon]="faMinus"></fa-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="primary" (click)="addButtonValue('0')" [disabled]="disabled">0</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="button" mat-fab color="warn" (click)="clear()" [disabled]="disabled">C</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button type="submit" mat-fab color="warn" (click)="submit()" [disabled]="disabled">
      <fa-icon [icon]="faEquals"></fa-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-fab color="accent" (click)="addButtonValue('+')" [disabled]="disabled">
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>

